

<h1> My Tasks</h1>


<% @tasks.each do |task| %>
  <div>
    <% if task.completed %>
    <input type="checkbox" id=<%= task.id %> checked disabled>
    <% else %>
    <input disabled type="checkbox" id=<%= task.id %>  >
    <% end %>
    <label for=<%= task.id %> >  <%= link_to task.title, task_path(task) %> </label>
    <a data-method='delete' href=<%= "/tasks/#{task.id}" %> > • <i class="far fa-trash-alt"></i></a>

  </div>
<% end %>

<hr>

<div class="links">
  <i class="fa fa-plus" aria-hidden="true"></i>
  <%= link_to "Add a new task", tasks_new_path %>
</div>

